
body, input, textarea {
    margin:0;
    color: #fff;
    font-size:100%;
}

.view-port input[type=text] {
    width: 100%;
    border-bottom: #fff 2px solid;
}

#login input[type=text] {
    text-align: center;
}

#clock {font-size : 50px}
#greeting {font-size : 70px}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
    background-size : cover; 
}

.view-port {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction :column;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
 }

 .top-row, .center-row , .bottom-row {
     padding : 0 20px

}
 
.top-row {
    height: 60px;
    display: flex;
    align-items: center;
}

.center-row {
    display: flex;
    flex : 1;
    justify-content: center;
    align-items: center;
}

.bottom-row {
    height: 60px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}


.row-center {
    flex : 1;
}


.bottom-row .row-right, .bottom-row .row-left {
    width : 20%;
}

.row-right {
    text-align: right;
}

.main-clock{
    text-align: center;
    font-size: 25px;
}

.todo-pop {
    height: auto;
    width: 270px; 
    position: absolute;
    bottom : 50px;
    right: 10px;
    padding: 15px;
    background: #f0efee;
    border-radius: 5px;
    font-size: 15px;
    color:#878481;
    /* transition : all .2s ease-out; */
    /* transition-property: opacity,height; */
    /* transform-origin :right bottom; */
}
.todo-pop li {
    margin-bottom: 3px;
}

.todo-pop input {
    color : #323232
}


.pop-header {
    color:#222;
    font-size: 20px;
    margin-bottom: 7px;
}
